<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Application Name </display-name>
    <servlet>
        <servlet-name>Myservlet</servlet-name>
        <servlet-class>sarvlet.Myservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Random</servlet-name>
        <servlet-class>sarvlet.Random</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert</servlet-name>
        <servlet-class>sarvlet.Insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Myservletlogin</servlet-name>
        <servlet-class>sarvlet.Myservletlogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Myservlet</servlet-name>
        <url-pattern>/Myservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Random</servlet-name>
        <url-pattern>/Random</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert</servlet-name>
        <url-pattern>/Insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Myservletlogin</servlet-name>
        <url-pattern>/Myservletlogin</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
